.c-documentation
  ul, ol
    margin 0 0 15px 30px
  summary
    background-color $col-cornflower-blue
    color white
    padding 7px
    margin-top 5px
    margin-bottom 5px
  &--dsg
    ol
      box-sizing border-box
      list-style decimal
    li
      list-style-position outside