.c-footer
  position inherit
  color $col-muted-grey

  &__main
    font-weight bold
    text-align right
    padding 30px
    border-top solid 1px $col-silver
    background-color $col-hm-blue
    color white

  &__wrap
    container()

  &__meta
    container()
