// small and muted
smuted, smuted a
    font-size 13px
    color #6c757d !important


extlnk 
    display inline-flex !important
    align-items center
    &:after 
        fa()
        content '\f08e'
        margin-left 0.15rem
        font-size 12px
        color $col-primary-blue
        
        
