footer.c-footer.js-app--footer
    .c-footer__meta
        include ../filemeta
    .c-footer__main
        .c-footer__wrap
            | #{_t('Copyright', _m)} &copy;&nbsp;
            span.c-footer__date.js-footer__date
            | &nbsp;
            span.c-footer__name=_t('HuBMAP', _m)
