$col-slate = #656565
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-grey = #807e7e
$col-xlgt-grey = #fcfcfc
$col-alto = #ddd
$col-hm-blue = #444a65
$col-muted-grey = #6c757d
$col-silver = #ccc
$col-chalice = #aaa
$col-chateau = #a5abb6
$col-chateau-2 = #9aa1ac
$col-malibu = #6ac6ff
$col-primary-blue = #2A6FB8
$col-cornflower-blue = #265a92
$col-selago = #fafbfe
$col-lime = lime
$col-primary-accent = #caedd9
$col-secondary-accent = #0f5b30

$color-names = "slate"

colors()
  return $col-slate